body {
    background-image: url("jambake.github.io/Background.jpg");
    background-color: #cccccc;
    color: white;
    text-align: center;
    font-family: 'Carter One', cursive;
}
.container {
  position: relative;
  width: 90;
}

.image {
  display: inherit;
  width: 90;
  height: 100;
}

.grid {
  display: grid;
  grid-template-columns: auto repeat(5, 90px) auto;
  grid-template-rows: repeat(4, 100px);
  grid-template-areas: ". a b c d e . "
                       ". f g h i j ."
		       ". . . k . . ."
	  	       ". . . l . . .";
  grid-auto-flow: dense;
  grid-gap: 10px
}
.travis {
  grid-area: a;
  justify-self: center;
}
.jake {
  grid-area: b;
  justify-self: center;
}
.frank {
  grid-area: c;
  justify-self: center;
}
.ian {
  grid-area: d;
  justify-self: center;
}
.jim {
  grid-area: e;
  justify-self: center;
}
.brandon {
  grid-area: f;
  justify-self: center;
}
.becky {
  grid-area: g;
  justify-self: center;
}
.joe {
  grid-area: h;
  justify-self: center;
}
.danielle {
  grid-area: i;
  justify-self: center;
}
.alec {
  grid-area: k;
  justify-self: center;
}
.ie {
  grid-area: l;
  justify-self: center;
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 90;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/*
h1 {
    animation: grow-shrink 1.2s infinite;

}

@keyframes grow-shrink {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(2);
    }
}
*/
