body {
    background-image: url("jambake.github.io/Background.jpg");
    background-color: #cccccc;
    color: white;
    text-align: center;
    font-family: 'Carter One', cursive;
}

/*
h1 {
    animation: grow-shrink 1.2s infinite;

}

@keyframes grow-shrink {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(2);
    }
}
*/
