#wrapper {
  width: 100%;
  background-color: #515151;
}

#top-nav {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: #515151;
}

#side-nav {
  position: fixed;
  width: 250px;
  height: 100vh;
  left: 0;
  right: 0;
  overflow-y: scroll;
  background-color: #ADABAB;
  top: 60px;
}

#content-wrapper {
  width: 40%;
  margin-left: 250px;
  margin-top: 60px;
  /*
  margin-left: 250px;
  margin-right: 500px;
  margin-top: 60px;
  margin-bottom: 0;
  */
  padding-left: 30px;
  padding-right: 30px;
  overflow-y: scroll;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: #CECECE;
}

#content-wrapper-code {
  width: 40%;
  margin-left: 60%;
  margin-top: 60px;
  /*
  margin-left: 250px;
  margin-right: 500px;
  margin-top: 60px;
  margin-bottom: 0;
  */
  padding-left: 30px;
  padding-right: 30px;
  overflow-y: scroll;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: #0E0E0E;
}

#p1 {
    color: black;
    padding-left: 30px;
    padding-right: 30px;
}

#p2 {
    color: white;
    padding-left: 30px;
    padding-right: 60px;
}
